@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700");
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700,700italic");
/* Google Fonts */
/* MODULES */
[class$="-container"] {
  padding: 2.5%;
}

[class$="-wrapper"] {
  margin: 0 auto;
  width: 80%;
}

/* PARTIALS */
html {
  font-size: 100%;
}

body {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
  line-height: 1.2em;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Slab", serif;
  color: #1960ad;
}

.schedule-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
.schedule-table th, .schedule-table td {
  word-wrap: break-all;
}
.schedule-table th {
  padding: 0.83333%;
}
.schedule-table td {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.schedule-table td [ng-drag] {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 10;
}
.schedule-table td [ng-drag] span, .schedule-table td [ng-drag] p {
  font-size: 12px;
  line-height: 1.5em;
  display: block;
  margin: 10px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.schedule-table td.active {
  border: 2px solid lightblue;
}
.schedule-table td.highlighted {
  background-color: rgba(0, 0, 0, 0.1);
}
.schedule-table td.first {
  border-bottom: none;
}
.schedule-table td.middle {
  border-top: none;
  border-bottom: none;
}
.schedule-table td.last {
  border-top: none;
}
.schedule-table td.selected [ng-drag] {
  border-left: 2px solid red;
  border-right: 2px solid red;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}
.schedule-table td.selected [ng-drag].inactive {
  border: none;
  z-index: 1;
}
.schedule-table td.selected.stretchable [ng-drag] {
  border-left: 2px dashed red;
  border-right: 2px dashed red;
  border-top: 2px dashed red;
  border-bottom: 2px dashed red;
}
.schedule-table td.selected.first [ng-drag] {
  border-bottom: none;
}
.schedule-table td.selected.middle [ng-drag] {
  border-top: none;
  border-bottom: none;
}
.schedule-table td.selected.last [ng-drag] {
  border-top: none;
}
.schedule-table td.shared [ng-drag] {
  width: 50%;
}
.schedule-table td.shared [ng-drag]:last-child {
  right: 0;
}

.time-allotments {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.time-allotments li {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  float: left;
  margin: 1.11111% 0.83333%;
  text-align: center;
}
.time-allotments li a {
  color: white;
  display: block;
  padding: 20px;
}

.red {
  background-color: #BE2727;
}

.orange {
  background-color: #E57D07;
}

.yellow {
  background-color: #D2C705;
}

.green {
  background-color: #14883D;
}

.blue {
  background-color: #2347BA;
}

.indigo {
  background-color: #4B0082;
}

.violet {
  background-color: #9F00FF;
}

.grey {
  background-color: #A9A9A9;
}

.pink {
  background-color: #FFC0CB;
}

.maroon {
  background-color: #C26868;
}

.cyan {
  background-color: #76DBDB;
}

.ash {
  background-color: #DCDCDC;
}

.brown {
  background-color: #BA885E;
}

/* SHAMEFUL HOTFIXES */
