.red {
	background-color: #BE2727;
}

.orange {
	background-color: #E57D07;
}

.yellow {
	background-color: #D2C705;
}

.green {
	background-color: #14883D;
}

.blue {
	background-color: #2347BA;
}

.indigo {
	background-color: #4B0082;
}

.violet {
	background-color: #9F00FF;
}

.grey {
	background-color: #A9A9A9;
}

.pink {
	background-color: #FFC0CB;
}

.maroon {
	background-color: #C26868;
}

.cyan {
	background-color: #76DBDB;
}

.ash {
	background-color: #DCDCDC;
}

.brown {
	background-color: #BA885E;
}