
.schedule-table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	th, td {
		word-wrap: break-all;
	}
	th {
		padding: dynS(10, 1200, pc);
	}
	td {
		position: relative;
		border: 1px solid rgba($text-black, $B-dividers);

		// Current cell cursor
		&.active {
			border: 2px solid lightblue;
		}

		// Highlighted cell for expansion
		&.highlighted {
			background-color: rgba(0, 0, 0, 0.1);
		}

		// Assigned cells
		&.first {
			border-bottom: none;
		}
		&.middle {
			border-top: none;
			border-bottom: none;
		}
		&.last {
			border-top: none;
		}

		// Selected assigned cells
		&.selected {
			border-left: 2px solid rgba(255, 0, 0, 0.3);
			border-right: 2px solid rgba(255, 0, 0, 0.3);
			border-top: 2px solid rgba(255, 0, 0, 0.3);
			border-bottom: 2px solid rgba(255, 0, 0, 0.3);
			// Stretchable assigned cells
			&.stretchable {
				border-left: 2px dashed rgba(255, 0, 0, 0.3);
				border-right: 2px dashed rgba(255, 0, 0, 0.3);
				border-top: 2px dashed rgba(255, 0, 0, 0.3);
				border-bottom: 2px dashed rgba(255, 0, 0, 0.3);
			}
			&.first {
				border-bottom: none;
			}
			&.middle {
				border-top: none;
				border-bottom: none;
			}
			&.last {
				border-top: none;
			}
		}

		// Draggable/expandable time allotment
		[ng-drag] {
			position: absolute;
			width: 100%;
			top: 0;
			bottom: 0;
			span, p {
				display: block;
				margin: 5px 10px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

	}
}